@import '~bootstrap/scss/bootstrap';

header{
    height: 60px;
}

aside{
height: 100%;
width: 200px;
nav{
    ul{
        list-style: none;
        li{
        margin-bottom: 15px;

        }
        a{
        color: white;
        text-decoration: none;
        font-size: .9rem;
        &:hover{
            text-decoration: underline;
        }

        }
    }
}
}

.main-wrapper{
    height: calc(100vh - 60px);
    background-color: azure;
}


.ck-editor__editable_inline {
    min-height: 300px;
}
